
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Comfortaa:wght@300;400;500;600;700&family=Crimson+Text:ital,wght@0,600;1,400&family=Kanit:wght@200&family=Poppins:wght@500&display=swap');
*{
  height: auto; 
  padding: 0;
}

.girl {
  position: absolute;
  margin-left: 1200px;
  margin-top: 400px;
}

.name {
  color: #fff;
  font-size: 40px;
  font-family: "Comfortaa";
  font-style: normal;
  width: 100px;
  letter-spacing: 5px; 
  padding: 100px 0px 10px 10px;
  margin-left: 80px;
  margin-bottom: 250px;
}
.about {
  color: #fff;
  font-size: 20px;
  font-family: "Comfortaa";
  font-style: normal;
  margin-top: -300px;
  margin-left: 80px;
  padding: 100px 0px 10px 10px;
 
}
.p{
  color: #fff;
}
.me{
  color: #fff;
  font-size: 25px;
  font-family: "Comfortaa";
  font-style: normal;
  text-align: center;
 
}
.me p{
  font-size: 25px;
  text-align: left;
  margin: 0px 0px 20px 150px;
  width: 1000px;
  letter-spacing: 1.5px;
  line-height: 35px;
}
.school {
  color: #fff;
  font-size: 20px;
  font-family: "Comfortaa";
  font-style: normal;
  margin-left: 90px;
  margin-top: -10px;
} 
.ava {
  position: fixed;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  top: 330px;
  right: 350px; 
} 
.round1, .round2, .round3, .round4, .round5{
  position: fixed;
  background-color: #fff;
  overflow: visible; 
  border-radius: 50%;
  transform: translate(50%, -50%);
  top: 305px;
  right: 350px; 

}
.round1 {
  opacity: 1%;
  width: 990px;
  height: 990px; 
}
.round2 {
  opacity: 2%;
  width: 900px;
  height: 900px;
}
.round3 {
  opacity: 3%;
  width: 810px;
  height: 810px; 
}
.round4 {
  opacity: 4%;
  width: 720px;
  height: 720px;
}
.round5 {
  opacity: 5%;
  width: 630px;
  height: 630px; }


  .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
  }
  .social-icons li {
    margin-left: 40px; 
  }
  .social-icons a {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
    opacity: 0.8; 
  }
  .social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: 500px;
    bottom: 550px ;
    background-size: 100% 100%;
  }
  .social-icons :hover {
    opacity: 0.7; 
  }
  .social-icons .social-icon-telegram::before {
    background-image: url("icons8-телеграмма-100.png");
    width: 47px;
    height: 47px; 
  }
  .social-icons .social-icon-git::before {
    background-image: url("icons8-github-100.png");
    width: 55px;
    height: 55px;
  }
  .social-icons .social-icon-vk::before {
    background-image: url("icons8-вконтакте-96.png");
    width: 50px;
    height: 50px;}
  .languages{
    margin-top: 200px;
   margin-left: 300px;
   /* padding: 20px; */
   

    }
    .xobbi{
      color: #fff;
  font-size: 13px;
  font-family: "Comfortaa";
  font-style: normal;
  /* justify-content: center; */
  margin-left: 100px;
  padding: 10px;

    }
    .xobbi h2{
  font-size: 30px;
  justify-content: center;

    }
.aboutlg{
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-family: "Comfortaa";
  font-style: normal;
  transform: translate(8em,-24em);
}
.htmlcssjs{
  word-spacing: 220px;
  transform: translate(14em,-0.4em);
}   
.git2{
  margin-left: 650px;
}
.git2 :hover {
  opacity: 0.7; 
} 
